@import "../../styles/settings/mediaQueries.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-9);
  width: 90%;
  margin-bottom: var(--space-3xl);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.75);
  border-radius: var(--size-m);
}

.imgWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.poster {
  width: 100%;
  border-top-left-radius: var(--size-m);
  border-top-right-radius: var(--size-m);
}

.vote {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  background-color: green;
  padding: var(--size-s) var(--size-l);
  text-align: center;
  font-weight: bold;
  font-size: var(--size-l);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.75);
  border-top-right-radius: var(--size-m);
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-m) var(--space-s);
  gap: var(--space-m);
}

.infoButton {
  background-color: var(--blue-6);
  padding: var(--size-xs);
  width: 90%;
  border-radius: var(--size-s);
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-m);
}

.title {
  font-size: var(--size-l);
  font-weight: 700;
  text-align: center;
}

.date {
  text-align: center;
}
