@import "../../../styles/settings/mediaQueries.scss";

.wrapper {
    display: flex;
    height: var(--size-xl);

    
  }
  

  .box {
    width: 10rem;
    border-top-left-radius: var(--size-xs);
    border-bottom-left-radius: var(--size-xs);
    padding: var(--size-2xs);
    border-style: none;
  
    &:focus-visible {
      outline: unset;
    }

    @media #{$fromLaptop} {
      width: 15rem;
    }
  }
  
  .button {
    background-color: var(--orange-5);
    padding: var(--size-2xs) var(--size-xs);
    border-top-right-radius: var(--size-xs);
    border-bottom-right-radius: var(--size-xs);
    border: unset;
  }