@import "../../styles/settings/mediaQueries.scss";

.container {
  justify-items: center;
  width: 100%;
}

.filmContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: var(--space-l);
  max-width: 100vw;
  color: var(--white);

  @media #{$fromTablet} {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-content: center;
    padding: var(--space-3xl);
    gap: var(--gap-2xl);
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--white);
}