@import "../../styles/settings/mediaQueries.scss";

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-m);
  color: var(--white);
  background-color: var(--black);

  @media #{$fromLaptop} {}
}

.logo {
  width: var(--size-3xl);
}

.searchWrapper {
  display: flex;
  height: var(--size-xl);
}

.menuWrapper {
  @media #{$fromLaptop} {
    display: flex;
    gap: var(--space-3xl);
    align-items: center;
  }
}

.searchBox {
  width: 15rem;
  border-top-left-radius: var(--size-xs);
  border-bottom-left-radius: var(--size-xs);
  padding: var(--size-2xs);
  border-style: none;

  &:focus-visible {
    outline: unset;
  }
}

.searchButton {
  background-color: var(--blue-6);
  padding: var(--size-2xs) var(--size-xs);
  border-top-right-radius: var(--size-xs);
  border-bottom-right-radius: var(--size-xs);
  border: unset;
}

.menu {
  display: none;

  @media #{$fromLaptop} {
    display: flex;
    gap: var(--space-3xl);
  }
}

.item {
  transition: all 0.3s;

  @media #{$fromLaptop} {
    &:hover {
      cursor: pointer;
      color: var(--blue-4);
      transform: scale(1.1);
    }

  }
}