@import "../../styles/settings/mediaQueries.scss";

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-m);
  color: var(--white);
  background-color: var(--black);

  @media #{$fromLaptop} {
  }
}

.logo {
  width: var(--size-3xl);
  @media #{$fromLaptop} {
    width: var(--size-6xl);
    content:url("../../assets/img/logo_texto_rojo.svg");
  }
}

.searchWrapper {
  display: flex;
  height: var(--size-xl);
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-s);

  @media #{$fromLaptop} {
    gap: var(--space-l);
  }
}

.searchBox {
  width: 10rem;
  border-top-left-radius: var(--size-xs);
  border-bottom-left-radius: var(--size-xs);
  padding: var(--size-2xs);
  border-style: none;

  &:focus-visible {
    outline: unset;
  }
}

.searchButton {
  background-color: var(--orange-4);
  padding: var(--size-2xs) var(--size-xs);
  border-top-right-radius: var(--size-xs);
  border-bottom-right-radius: var(--size-xs);
  border: unset;
}

.menu {
  display: none;

  @media #{$fromLaptop} {
    display: flex;
    gap: var(--space-l);
  }
}

.item {
  transition: all 0.3s;

  @media #{$fromLaptop} {
    &:hover {
      cursor: pointer;
      color: var(--blue-4);
      transform: scale(1.1);
    }

  }
}