@import "../../styles/settings/mediaQueries.scss";

.menu {
  display: flex;
  justify-content: center;
  gap: var(--space-2xl);
  position: sticky;
  bottom: 0;
  background-color: var(--gray-3);
  padding: var(--space-l);

  @media #{$fromLaptop} {
    display: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex: 1 1 0px;
  font-size: var(--size-s);
}

.icon {
  width: var(--size-l);
  height: var(--size-l);
}
