@import "../../styles/settings/mediaQueries.scss";

.menu {
  display: flex;
  justify-content: center;
  gap: var(--space-2xl);
  position: sticky;
  bottom: 0;
  background-color: var(--black);
  color: var(--blue-4);
  padding: var(--space-l);
  border-top: 1px solid var(--blue-4);
  box-shadow: 0px -5px 10px 5px rgba(0,0,0,0.75);

  @media #{$fromLaptop} {
    display: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  // flex: 1 1 0px;
  font-size: var(--size-m);
}

.icon {
  width: var(--size-xl);
  height: var(--size-xl);
}


